<!doctype html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    <title>ddindex</title>
    <link href=/client/css/app.c33f604ff8b95f68cbcb14c51ce021ac.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/client/js/manifest.7f16e9f8980dc7fc51a7.js></script>
<script type=text/javascript src=/client/js/vendor.549e944edf6bc1c28bf7.js></script>
<script type=text/javascript src=/client/js/app.c764af5231eb2cd01971.js></script>
</body>
</html>